@font-face {
  font-family: "Butler";
  src: url(/fonts/Butler_Regular.otf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Butler_Medium.otf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
