@font-face {
  font-family: "Butler";
  src: url(/fonts/Butler_Regular.otf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Butler_Medium.otf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.hero_section {
  width: 1065px;
  height: 630px;
  margin: 135px 188px 135px 188px;
  background: url(../img/hero-sect.jpg);
  position: relative;
}

.white_square {
  width: 557px;
  height: 355px;
  margin: 137px 254px 138px 254px;
  position: absolute;
  top: -10px;
}

.hero_logo {
  position: absolute;
  margin: 267px 301px 268px 302px;
  z-index: 1;
  text-align: center;
}

.hero_logo h1 {
  font-family: "Butler";
  font-size: 87px;
  line-height: 104px;
  font-style: normal;
  font-weight: normal;
  margin: 9px;
}

.hero_logo h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin: 9px;
}
