body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #000;
  background-color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1065px;
  margin: 0 auto;
}
.studio-bg {
  height: 630px;
  background-image: url(../img/hero-sect.jpg);
  background-repeat: no-repeat;
  margin: 135px 0;
  position: relative;
}

.studio-card {
  width: 557px;
  height: 355px;
  background-color: white;
  position: absolute;
  top: 50%;
  margin-top: -178px;
  left: 50%;
  margin-left: -279px;
  text-align: center;
}

h1 {
  font-size: 87px;
  font-weight: 400;
  margin-top: 130px;
}

span {
  font-weight: 600;
  font-size: 18px;
  margin-top: 18px;
}
